
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeedf1;
    max-width: 75%;
    /* max-width: 1280px; */
    margin:auto;
    padding: 1.5rem;
    /* border-bottom: 2px solid #000; */
  /* padding: 3rem; */
  }
  .sub_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  
  }
  .nav ul,
  .profile ul,
  .brandLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .nav ul,
  .profile ul{
    list-style-type:none;
  }
  .nav ul li{
    color: #727474;
    font-size: 1rem;
  }
  .avatar{
    width: 3rem;
  }
  .profile .button{
    cursor: pointer;
    outline: none;
  }