.main {
  position: fixed;
  right: 10px;
  left: 10px;
  top: 95px;
  min-width: 350px;
  background-color: #fff;
  z-index: 120;
  padding: 2rem 1.5rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 8px;
  transition: all 0.5s ease;
}
.title {
  text-align: left;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  font-weight: 700;
  padding: 0 0 1.7rem 0;
  font-size: 1rem;
}
.button {
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  background-color: rgb(249 115 22);
  gap: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  margin-top: 30px;
}
.button:hover {
  transition: all 2s;
  background-color: rgb(234 88 12);
}
.cartDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 1rem 0 2rem;
}
.textDetails {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.productImage {
  width: 60px;
  border-radius: 6px;
}
.empty{
  text-align: center;
  padding: 60px 0px;
  font-weight: 700;
  color: hsl(220, 14%, 75%);

}
@media (min-width: 1024px) {
  .button {
    padding: 1rem;
   
  }
  .main {
    left: auto;
    right: 10%;
  }
}
