.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  max-width: 100%;
  margin: auto;
  padding: 1.5rem;
}
.profileImage{
  border: 2px hsl(26, 100%, 55%) solid;
  border-radius: 50%;
}
.sub_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 2rem;
  width: 70%;
  height: 100%;
  z-index: 110;
  transition: all 0.3s ease-in-out;
}
.closeMenu {
  margin-bottom: 50px;
}

.profile {
  position: relative;
}
.profile ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.cartIcon {
  cursor: pointer;
  position: relative;
}
/* .totalCartItems{
  position: absolute;
  bottom: 20px;
  left: 15px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50%;
  padding: 1px 5px;
  color: #fff;
} */
.mobileNav ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}
.mobileNav ul li {
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.75rem;
  color:hsl(220, 13%, 13%);
  cursor: pointer;
}

.mobileBrandLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .mobileHeader {
    display: none;
  }

  .avatar {
    width: 3rem;
  }
  .profile ul {
    gap: 2rem;
  }
}
