.productImage {
  width: 80px;
}
.section {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.mainImage {
  width: 100%;
  cursor: pointer;
}

.list {
  display: none;
}
.selected {
  border: 3px #eb9651 solid;
  opacity: 0.8;
}
.default {
  cursor: pointer;
}
.productDetails {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 20px 50px;
}
.subHeading {
  padding: 0.25rem 0;
  color: #fb923c;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.heading {
  color: rgb(15 23 42);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text {
  color: rgb(71 85 105);
  line-height: 1.625;
  margin-bottom: 20px;
}
.amountSpan {
  color: #fb923c;
  padding: 2px 6px;
  background-color: #feefe2;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.amount {
  color: rgb(15 23 42);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.discount {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(71 85 105);
}
.amountAndPercentage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.amountAndPercentage ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.counterAndAdd {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 2.5rem;
}
.counterList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fd;
  padding: 1rem 1.5rem;
  gap: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.25rem;
  font-weight: 700;
  width: 100%;
}
.counterList li {
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  background-color: rgb(249 115 22);
  gap: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
}
.button:hover {
  transition: all 2s;
  background-color: rgb(234 88 12);
}
.mobileImageToggle {
  position: relative;
}
.hideImageToggle {
  display: none;
}

.mobileImageToggleLeftList,
.mobileImageToggleRightList {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  padding: 0.875rem 1rem;
  cursor: pointer;
  /* transform: translateY(50%); */
  outline: none;
  border: none;
}
.mobileImageToggleLeftList {
  left: 1rem;
}
.mobileImageToggleRightList {
  right: 1rem;
}

.desktopSlide {
  display: none;
}
@media (min-width: 768px) {
  .mobileSlide {
    display: none;
  }
  .desktopSlide {
    display: block;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 80%;
    padding: 0px 80px;
  }
  .list {
    gap: 2rem;
  }
  .mainImage {
    width: 80%;
  }
  .heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .counterAndAdd {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .section {
    padding: 0px 130px;
    margin: 100px auto 0px;
    place-items: center;
  }

  .heading {
    font-size: 3rem;
    line-height: 1;
  }
  .counterList {
    width: 40%;
    padding: 1rem;
  }
  .button {
    padding: 1rem;
  }
  .mainImage {
    border-radius: 16px;
  }
  .productDetails {
    padding: 25px 30px 50px;
  }
  .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* list-style: none; */
    gap: 1rem;
    margin-top: 20px;
    width: 75%;
  }
  .list li img {
    width: 80px;
    border-radius: 12px;
  }
  .subHeading,
  .heading {
    margin-bottom: 20px;
  }
  .mobileList {
    display: none;
  }
}
