.header {
  display: none;
}
.sub_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}

.profile {
  position: relative;
}

.profile ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2rem;
  cursor: pointer;
}

.cartIcon {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeedf1;
    max-width: 75%;
    margin: auto;
    padding: 1.5rem;
  }
  .nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.2rem;
  }

  .navItem {
    color: #727474;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
  }

  .navItem:after {
    position: absolute;
    content: "";
    height: 5px;
    top: 3.4rem;
    left: 0;
    width: 0%;
    background: rgb(234 88 12);
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .navItem:hover:after,
  .navItem:hover:after {
    width: 100%;
    background:rgb(234 88 12);
  }
  .brandLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .avatar {
    width: 3rem;
  }
  .profile ul {
    gap: 2rem;
  }
}
