.header {
  display: none;
}
.cartIcon {
position: relative;
}
/* .totalCartItems{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 50%;
  padding: 1px 5px;
  color: #fff;
} */
@media (min-width: 1024px) {

  .profile {
    position: relative;
  }
  .profileImage{
    border: 2px hsl(26, 100%, 55%) solid;
    border-radius: 50%;
  }
  .sub_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
  }
  .avatar {
    width: 2rem;
    cursor: pointer;
  }
  .profile ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    max-width: 75%;
    margin: auto;
    padding: 1.5rem;
  }
  .nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.2rem;
  }

  .navItem {
    color: hsl(219, 9%, 45%);
    font-size: 1rem;
    position: relative;
    cursor: pointer;
  }

  .navItem:after {
    position: absolute;
    content: "";
    height: 5px;
    top: 3.6rem;
    left: 0;
    width: 0%;
    background: hsl(26, 100%, 55%);
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .navItem:hover:after,
  .navItem:hover:after {
    width: 100%;
    background:hsl(26, 100%, 55%);
  }
  .brandLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .avatar {
    width: 3rem;
  }
  .profile ul {
    gap: 2rem;
  }
}
